<mat-toolbar color="primary">
<span>
  Aplikasi Buku Alamat
</span>
<span class="spacer"></span>
<button mat-button (click)="buatAlamat()">Tambah Alamat</button>
</mat-toolbar>

<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Daftar Alamat</mat-card-title>
    </mat-card-header>
      <mat-card-content>

        <mat-list>
          <mat-list-item *ngFor="let item of dataAlamat">
            <img matListAvatar src="assets/avatar.png" alt="...">
            <h3 matLine>{{item.nama}}</h3>
            <p matLine>
              <span>{{item.kota}}</span>
            </p>
            <p matLine>
              <span>{{item.email}}</span>
            </p>
              
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="detailAlamat(item)">Detail</button>
                <button mat-menu-item (click)="editAlamat(item)">Edit</button>
                <button mat-menu-item (click)="konfirmasiHapus(item.id)">Delete</button>
              </mat-menu>
          </mat-list-item>
          
        </mat-list>
      </mat-card-content>
  </mat-card>
  
</div>
